.container
  = form_for @advertisement do |f|
    .form-horizontal
      .form_group
        = f.label :title, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :title, class: "form-control", placeholder: "Grab attention!"
      .form_group
        = f.label :copy, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_area :copy, class: "form-control", placeholder: "Describe your snake oil"
      .form_group
        = f.label :price, class: "col-sm-2 control-label"
        .col-sm-2
          = f.text_field :price, class: "form-control", placeholder: "0"
        .col-sm-8
      .form_group
        .col-sm-offset-2.col-sm-10
          = f.submit "Save", class:"btn btn-success"
