.container
  %h1
    =@post.title
    =render partial: "ratings/list", locals: {rating: @post.rating}
    %small #{time_ago_in_words(@post.created_at)} ago by #{@post.user.name}
  .row
    .col-md-8
      = render partial: "labels/list", locals: {labels: @post.labels }
      %br/
      %br/
  .row
    .col-md-8
      %p=@post.body
      %div
        %h3 Comments
        = render @post.comments
      - if current_user
        = render 'comments/form', comment: Comment.new, post: @post
      - if user_is_authorized_for_post?(@post)
        .col-md-4
          .row
            =link_to "Edit", edit_topic_post_path(@post.topic, @post), class: "btn btn-success"
            =link_to "Delete Post", [@post.topic, @post], method: :delete, class: "btn btn-danger", data: { confirm: "R U Sure? Delete is forever" }
