!!! XHTML 5
%html
%head
  %title Bloccit
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}/
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body

  .container
    %ul.nav.nav-tabs
      %li= link_to "Home", root_path
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li= link_to "FAQ", faq_path

    - if flash[:notice]
      .alert.alert-success
        %button.close {type: "alert", data-dismiss: "alert"} &times;
        = flash[:notice]
    - if flash[:error]
      .alert.alert-danger
        %button.close {type: "alert", data-dismiss: "alert"} &times;
        = flash[:error]
    - if flash[:alert]
      .alert.alert-warning
        %button.close {type: "alert", data-dismiss: "alert"} &times;
        = flash[:alert]

    =yield
