!!! XHTML 5
%html
%head
  %title Bloccit
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}/
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body

  .container
    %ul.nav.nav-tabs
      %li=link_to "Bloccit", root_path
      %li=link_to "Topics", topics_path
      %li=link_to "About", about_welcome_index_path
      .pull-right.user-info
        - if current_user
          = image_tag current_user.avatar_url(48),class: "gravatar"
          .pull-right
            =link_to current_user.name, user_path(current_user)
            %br/
            =link_to "Sign Out", session_path(current_user), method: :delete
        - else
          %li=link_to "Sign in", new_session_path
          %li=link_to "Sign up", new_user_path

    .flash
      - if flash[:notice]
        .alert.alert-success
          %button.close{"data-dismiss": "alert", type: "button"} &times;
          = flash[:notice]
      - elsif flash[:error]
        .alert.alert-danger
          %button.close{"data-dismiss": "alert", type: "button"} &times;
          = flash[:error]
      - elsif flash[:alert]
        .alert.alert-warning
          %button.close{"data-dismiss": "alert", type: "button"} &times;
          = flash[:alert]

    =yield
